{% include 'navbar.html' %}
<br>
<h1 class="text1">Here are the tools and resources which were used to make this Bot!</h1>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card" style="background-color: #f02e65;">
            <img src="/static/appwrite.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Appwrite</h5>
                <p class="card-text"><a href="https://appwrite.io/">Appwrite</a> was used to manage the database of
                    users and keep a track of their scores</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #ffffff;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Github</h5>
                <p class="card-text"><a href="https://github.com/">Github</a> was used for the sole purpose of version
                    control. you can veiw our github repo <a href="https://github.com/realhardik18/Topowars">by clciking
                        here</a></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #2496ed;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Docker</h5>
                <p class="card-text"><a href="http://docker.com/">Docker</a>was used to set up appwrite on our local
                    server
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #ffcc3b;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Python</h5>
                <p class="card-text"><a href="https://www.python.org/">Python</a> was the main language used throughout
                    this web app and the
                    discord bot. the specific modules used are also listed on this page</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #eadb5e">
            <img src=" ..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Discord.py</h5>
                <p class="card-text"><a href="https://discordpy.readthedocs.io/en/stable/">Discord.py</a> was the python
                    library we used to make the discord bot </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #ffffff;">
                <h5 class="card-title">Flask</h5>
                <p class="card-text"><a href="https://flask.palletsprojects.com/en/2.1.x/">Flask</a> was the
                    webframework
                    used to make the web app</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #6612ae;">
                <h5 class="card-title">Heroku</h5>
                <p class="card-text"><a href="https://heroku.com">Heroku</a> was used to host this web app, so that you
                    can see it!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #0d1900;">
                <h5 class="card-title">Pixbay</h5>
                <p class="card-text"><a href="https://pixabay.com/">Pixbay</a> was used to generate the random images of
                    the countries</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #8412fd;">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text"><a href="https://getbootstrap.com/">Bootstrap</a> was used to style this site!</p>
            </div>
        </div>
    </div>
</div>